* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(203, 171, 111);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}



.header {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.header-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 80%;
  align-items: center;
  max-width: 1600px;
}

.scroll-links {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  align-items: center;
}

.scroll-links li a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.scroll-links li a:hover {
  color: violet;
}

.header-logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.header-logo h1 {
  color: rgb(255, 0, 234);
  font-family: 'Silkscreen', sans-serif;
  font-size: 20px;
  cursor: default;
}

.header-logo h1:hover {
  color: violet;
}

.head-image {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* header anime kızı icon */
.header-ico2 {
  position: initial;
  width: 5%;
  padding-left: 15px;
  /* Geçiş/hover efekti başlangıç görünmezliği */
  opacity: 0;
  /* Geçiş efekti */
  transition: opacity 0.3s ease;
}

.head-image a:hover+.header-ico2,
.header-ico2:hover {
  opacity: 1;
}

/* header anime kızı icon bitiş */
.head-image p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-right: 2.5px;
  text-shadow: 2px 2px 5px purple;
}

.head-image p:hover {
  color: rgb(255, 0, 255);
  text-shadow: 2px 2px 5px purple;
}

.head-image a {
  text-decoration: none;
}


.head-image img {
  width: 10%;
}

.anzu-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 30px 0 20px 0;
  background-color: hsl(17, 18%, 46%);
  padding-bottom: 35px;

}

.title {
  display: flex;
  width: 80%;
  max-width: 1440px;
}


.banner-text {
  display: flex;
  margin-right: 25px;
  gap: 10px;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-tab p {
  color: white;
  text-align: center;

}

/* banner title animaton */

.banner-title {
  text-align: center;
  color: rgb(218, 36, 18);
  font-family: 'Silkscreen', sans-serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(107, 0, 0);
  margin-bottom: -10px;
  letter-spacing: 1px;
  font-size: 22px;
  text-shadow: 0 2px 1px #000000,
    -1px 3px 1px #8a0000,
    -2px 5px 1px #5e0000,
    0 5px 1px #000000,
    -1px 6px 1px #8a0000,
    -2px 8px 1px #5e0000;
  animation: bannertitle 8s infinite;
}

@keyframes bannertitle {
  50% {
    text-shadow: 2px 7px 5px rgb(99, 0, 0),
      -3px 6px 8px rgb(0, 0, 0);
    color: rgb(218, 36, 18);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(133, 11, 0);
  }
}


/* border asıl resmin üzerine nasıl geçer? */

#card {
  display: flex;
  align-items: center;
  --angle: 0deg;
  border: 0.25rem solid;
  border-image: conic-gradient(from var(--angle), rgb(199, 7, 102), rgb(225, 183, 173), rgb(203, 58, 157), rgb(203, 58, 157)) 1;
  overflow: hidden;
  animation: 8s rotate linear infinite;
}

#card img {
  flex: 1;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


/* foto focus */

#card:hover img {
  animation: pulse 900ms ease-in;
}


@keyframes pulse {

  from,
  to {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }
}


.anzu-title img {
  height: 534px;
  width: auto;
  object-fit: cover;
}

.banner-message {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Athiti', sans-serif;
  color: rgb(226, 220, 217);
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 0px 7px rgb(49, 0, 49), -3px 0px 7px rgba(88, 0, 122, 0.534), 0px 4px 7px rgba(81, 67, 21, 0.8);
}

.banner-button {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.banner-button button {
  color: rgb(255, 0, 219);
  font-family: 'Silkscreen', sans-serif;
  font-size: 12px;
  text-decoration: none;
  border-radius: 1rem;
  font-weight: bold;
  padding: 10px;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.56) 1px 6px 90px 4px;
}

/* Banner Buton Hover effect */

.banner-button button:hover {
  color: rgb(255, 0, 219);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  opacity: 1;
}

.banner-button button {
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.712);
  font-size: 18px;
  border: solid rgb(51, 51, 51) 0.5px;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2rem;
  transition: all 1.3s;

  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid rgb(143, 0, 214);
    border-left: 5px solid rgb(143, 0, 214);
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid rgb(199, 7, 102);
    border-right: 5px solid rgb(199, 7, 102);
  }

  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

/* header kalp iconu */

.header-ico {
  position: initial;
  width: 5%;
  padding-left: 10px;
  /* Geçiş/hover efekti başlangıç görünmezliği */
  opacity: 0;
  /* Geçiş efekti */
  transition: opacity 0.3s ease;
}

.header-logo:hover+.header-ico,
.header-ico:hover {
  opacity: 1;
}


/* SLIDE/GALLERY PART START */

.slide {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
  margin-bottom: -20px;
  background-color: rgb(99, 75, 111);
}


.slide-show {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 70%;
  font-size: larger;
  max-width: 1600px;
}

.slide-show h3 {
  font-family: 'Silkscreen', sans-serif;
  flex-shrink: 0;
  padding-bottom: 25px;
  text-align: center;
  color: rgb(218, 36, 18);
  font-family: Silkscreen, sans-serif;
  -webkit-text-stroke: 0.5px rgb(107, 0, 0);
  margin-bottom: -10px;
  letter-spacing: 1px;
  font-size: 32px;
  text-shadow: rgb(0, 0, 0) 0px 2px 1px, rgb(138, 0, 0) -1px 3px 1px, rgb(94, 0, 0) -2px 5px 1px, rgb(0, 0, 0) 0px 5px 1px, rgb(138, 0, 0) -1px 6px 1px, rgb(94, 0, 0) -2px 8px 1px;
  animation: 8s ease 0s infinite normal none running bannertitle;
}



.gallery {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo:hover img {
  animation: pulse 700ms ease-in-out;
}

.photo img {
  height: 250px;
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.gallery2 {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.gallery-button {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.gallery-button button {
  color: rgb(255, 0, 219);
  font-family: 'Silkscreen', sans-serif;
  font-size: 12px;
  text-decoration: none;
  border-radius: 1rem;
  font-weight: bold;
  padding: 10px;
  opacity: 0.9;
  box-shadow: rgba(11, 13, 16, 0.61) 0px 4px 21px 4px;
}

.gallery-button button:hover {
  color: rgb(255, 0, 219);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  opacity: 1;
}

.gallery-button button {
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.712);
  font-size: 18px;
  border: solid rgb(51, 51, 51) 0.5px;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2rem;
  transition: all 1.3s;

  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid rgb(143, 0, 214);
    border-left: 5px solid rgb(143, 0, 214);
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid rgb(199, 7, 102);
    border-right: 5px solid rgb(199, 7, 102);
  }

  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}



/* SLIDE/GALLERY PART END */

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: rgb(11, 13, 16);
  background-image: url(./images/anzu_bg.png);
  min-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.quote-text {
  display: flex;
  max-width: 1440px;
  font-family: 'Athiti', sans-serif;
  width: 60%;
  flex-flow: column;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  color: #cccccc;
  text-shadow: 2px 7px 5px rgb(0, 0, 0),
    0px -4px 10px rgb(0, 0, 0);
}

/* QUOTE SCROLL */

#hop {
  margin-top: auto;
}

/* QUOTE PART START */

.pop {
  display: flex;
  justify-content: center;
  font-family: 'Silkscreen', sans-serif;
  padding: 50px 0;
  background-color: #9e7e67;
  background-image: url(./images/anzu_brave.png);
  min-height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.pop-up {
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 25px;
  align-items: center;
  padding: 30px;
  width: 75%;
  max-width: 1440px;
}

.i-button button {
  color: rgb(11, 13, 16);
  background-color: rgba(217, 91, 63, 0.555);
  border: 3px inset #ff6550;
  font-family: 'Silkscreen', sans-serif;
  padding: 10px 40px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  font-weight: 500;
}

.i-button:hover button {
  color: rgb(31, 55, 165);
  animation: pulse 450ms ease-in-out;
}

.pop-t h4 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(11, 13, 16);
  text-shadow: 3px 50px 70px rgb(0, 0, 0),
    0px -1px 3px rgb(0, 0, 0);
}

.pop-t p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(11, 13, 16);
}

.pop-symbol {
  padding-top: 10px;
}

.footer {
  background-color: rgb(11, 13, 16);
  text-align: center;
  color: white;
  padding: 10px 0;
}

.footer a {
  text-decoration: none;
  color: violet;
}

/* ufak padding ayarları */

#banner-padding {
  padding: 10px 0;
}