* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(203, 171, 111);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.header-tab {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 80%;
  align-items: center;
}

.scroll-links {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  align-items: center;
}

.scroll-links li a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.scroll-links li a:hover {
  color: violet;
}

.header-logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.header-logo h1 {
  color: rgb(255, 0, 234);
  font-family: 'Silkscreen', sans-serif;
  font-size: 20px;
  cursor: default;
}

.header-logo h1:hover {
  color: violet;
}

.head-image {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* header anime kızı icon */
.header-ico2 {
  position: initial;
  width: 5%;
  padding-left: 15px;
  /* Geçiş/hover efekti başlangıç görünmezliği */
  opacity: 0;
  /* Geçiş efekti */
  transition: opacity 0.3s ease;
}

.head-image a:hover+.header-ico2,
.header-ico2:hover {
  opacity: 1;
}

/* header anime kızı icon bitiş */
.head-image p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-right: 2.5px;
  text-shadow: 2px 2px 5px purple;
}

.head-image p:hover {
  color: rgb(255, 0, 255);
  text-shadow: 2px 2px 5px purple;
}

.head-image a {
  text-decoration: none;
}


.head-image img {
  width: 10%;
}

.anzu-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 30px 0 20px 0;
  background-color: rgb(160, 131, 117);
  padding-bottom: 35px;
}

.title {
  display: flex;
  width: 80%;
}


.banner-text {
  display: flex;
  margin-right: 25px;
  gap: 10px;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header-tab p {
  color: white;
  text-align: center;
}

/* banner title animaton */

.banner-title {
  text-align: center;
  color: rgb(218, 36, 18);
  font-family: 'Silkscreen', sans-serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(107, 0, 0);
  margin-bottom: -10px;
  letter-spacing: 1px;
  font-size: 22px;
  animation: bannertitle 5s infinite;
}

@keyframes bannertitle {
  50% {
    text-shadow: 15px 15px 30px rgb(61, 0, 0);
    color: rgb(218, 36, 18);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(133, 11, 0);
  }
}


/* border asıl resmin üzerine nasıl geçer? */

#card {
  /* flex: 1; */
  display: flex;
  align-items: center;
  --angle: 0deg;
  border: 0.25rem solid;
  border-image: conic-gradient(from var(--angle), rgb(199, 7, 102), rgb(225, 183, 173), rgb(203, 58, 157), rgb(203, 58, 157)) 1;
  animation: 10s rotate linear infinite;
  overflow: hidden;
}

#card img {
  flex: 1;
}

/* Box Shadow */

/* .gradient-border {
  animation: bannerphoto 5s infinite;
} */

/* @keyframes bannerphoto {
  50% {
    box-shadow: 5px 30px 35px 0px purple;
  }
} */

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


/* foto focus */

#card:hover img {
  animation: pulse 800ms ease-in-out;
}


@keyframes pulse {

  from,
  to {
    scale: 1;
  }

  50% {
    scale: 1.09;
  }
}


.anzu-title img {
  height: 534px;
  width: auto;
  object-fit: cover;
}

.banner-message {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Athiti', sans-serif;
  color: rgb(188, 173, 190);
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 5px 8px rgb(49, 0, 49);
}

.banner-button {
  display: flex;
  justify-content: center;

  padding: 25px;
}

.banner-button button {
  background-color: rgb(218, 36, 18);
  color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: solid rgb(119, 119, 119) 1.3px;

  border-radius: 1rem;
  font-weight: bold;
  padding: 10px;
}

.banner-button button:hover {
  color: rgb(132, 0, 255);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

/* header kalp iconu */

.header-ico {
  position: initial;
  width: 5%;
  padding-left: 10px;
  /* Geçiş/hover efekti başlangıç görünmezliği */
  opacity: 0;
  /* Geçiş efekti */
  transition: opacity 0.3s ease;
}

.header-logo:hover+.header-ico,
.header-ico:hover {
  opacity: 1;
}


/* SLIDE/GALLERY PART START */

.slide {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: -20px;
  background-color: rgb(97, 80, 106);
}


.slide-show {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 70%;
}

.gallery {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
}

.photo {
  flex: 1;
  animation: 10s rotate linear infinite;
}

.photo:hover img {
  animation: pulse 800ms ease-in-out;
}



.photo img {
  height: 250px;
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  /* border: solid rgb(174, 203, 242) 4px; */
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.gallery2 {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  gap: 20px;
}


/* SLIDE/GALLERY PART END */

.quote {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: black;
}

.quote-text {
  display: flex;
  width: 70%;
  flex-flow: column;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #cccccc;
  gap: 8px;
}

/* QUOTE SCROLL */

#hop {
  margin-top: auto;
}

/* QUOTE PART START */

.pop {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.pop-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 50px 150px;
  border-radius: 12px;
  width: 80%;
}

.i-button a {
  color: white;
  border: solid #f9faf8 2px;
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
}

.i-button:hover a {
  color: pink;
}

.pop-t h4 {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.pop-t p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #E5E7EB;
}

.footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.footer a {
  text-decoration: none;
  color: crimson;
}